<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Greet me</h1>

<form action="/hello" method="post" >
    <input type="text" name="username">
    <input type="submit" >
    <br>
    <br>
    <input type="radio" name="language" value="english">
    <label for="english">English</label>

    <input type="radio" name="language" value="sotho">
    <label for="sotho">Sotho</label>

    <input type="radio" name="language" value="zulu">
    <label for="zulu">Zulu</label>

    <input type="radio" name="language" value="xhosa">
    <label for="xhosa">Xhosa</label>
    <br>
</form>
<br>
{{greeting}}
<br>

    <span>
         <p>The number of users greeted is: </p>
        {{totalCount}}
    </span>

<div>
    <ul>
        {{#each users}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

</body>
</html>